@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    background-color: #1e1d2b;
}
#titlenavbar, #h2FW, #pAU, .h3, #price{
    color: #ff702a;
}
.navbar-nav{
    background-color: #1e1d2b00;
    color: #fff;
}
#button1, #button2{
    color: #fff;
    background-color: #ff702a;
    border: none;
}
.lore, .subtitle , #h2WS, #pFT, #home, #about, #menu, #service, #contact, #descripcion{
    color: #fff;
}

.titleFM{
    color: #ff702a;
}
#product, #ingredientes{
    color: #000;
}

